body{
   /*scegliere il font*/

}

.intestazione{
    background-image: url(../img/pattern.png);
    height: 200px;
    background-color: hsla(214, 100%, 50%, 0.808);
}

#logo{
    width: 20%;
    padding-top: 100px;
    padding-left: 10px;
}

.title{
    font-size: 50px;
    margin-bottom: 0;
}

.header-text{
    color: #8E8E8E;
}

.header-span{
    color: #00BFFF;
}

.tim{
    margin-top: 20px;
}

.border-1{
    background-color: yellow;
}

table{
    width: 100%;
    border-spacing: 0;
}

.colore-tabella{
    color: white;
    background-color: #00B2EE;
}

.colonna{
    width: 25%;
    text-align: left;
}

th{
    text-align: left;
}

.blue{
    background-color: #87CEEB;
}